<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>
<script src="https://use.fontawesome.com/11c08a6ab9.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js">
</script>
<link href="/css/style.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/jquery.hoverdir/1.1.1/jquery.hoverdir.min.js">
</script> 
<script src="/js/jquery.isotope.min.js">
</script>
<script src="/js/jquery.hoverex.min.js">
</script> 
<script src="https://cdn.jsdelivr.net/prettyphoto/3.1.6/js/jquery.prettyPhoto.js"></script>

<header class="site-header">


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
            
    <div class="container">
                <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/index.html"><!--<img  src="/img/logo-sokol.svg" width="20">-->Sokolská župa Barákova</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/index.html">DOMŮ</a>
                </li>
                <li>
                    <a href="/akce.html">KALENDÁŘ</a>
                </li>
                <li>
                    <a href="/dokumenty.html" target="">DOKUMENTY</a>
                </li>
                <li>
                    <a href="/kontakty.html">KONTAKTY</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</header>
